---
dependency:
  name: galaxy
  enabled: yes
  requirements-file: collections.yml

driver:
  name: {{ molecule.driver.name }}
{%- if molecule.driver.options is defined and molecule.driver.options %}
  options:
  {%- for name, value in molecule.driver.options.items() %}
    {{ name }}: {{ value }}
  {%- endfor %}
{%- endif %}

platforms:
  - name: afsbotcfg-master
{%- for name, value in molecule.platforms.centos7.items() %}
    {{ name }}: {{ value }}
{%- endfor %}
    groups:
      - openafs_buildbot_masters

provisioner:
  name: ansible
  config_options:
    defaults:
      vault_password_file: "${MOLECULE_PROJECT_DIRECTORY}/.vault-afsbotcfg"
  env:
    ANSIBLE_VERBOSITY: 0
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    group_vars:
      openafs_buildbot_masters:
        afsbotcfg_version: 1.2.0
        _merge:
          afsbotcfg_project:
            title: "Molecule Test"
            summary_title: "Molecule Test Buildbot"
        _override:
          afsbotcfg_admin_passwords:
            - ["admin@example.com", "secret"]
          afsbotcfg_worker_passwords:
            __default__: "secret"

verifier:
  name: ansible
