#
# This is a example buildmaster config file to show how
# to put slave passwords outside of the master.cfg
#

from afsbotcfg.slave import OpenAFSBuildSlave

c = BuildmasterConfig = {}

c['slaves'] = [
    OpenAFSBuildSlave("example-slave-a"),
    OpenAFSBuildSlave("example-slave-b", max_builds=3),
    OpenAFSBuildSlave("example-slave-c", properties={"foo":"bar"}),
]


#################################################################
# Example configuration, just enough to make 'checkconfig' happy.
#

from buildbot.schedulers.basic import SingleBranchScheduler
from buildbot.changes import filter
from buildbot.process.factory import BuildFactory
from buildbot.config import BuilderConfig

c['slavePortnum'] = 9989
c['change_source'] = []
c['schedulers'] = []
c['schedulers'].append(SingleBranchScheduler(
                         name="all",
                         change_filter=filter.ChangeFilter(branch='master'),
                         treeStableTimer=None,
                         builderNames=["example"]))
c['builders'] = []
c['builders'].append(
    BuilderConfig(name="example",
      slavenames=["example-slave-a"],
      factory=BuildFactory()))
c['status'] = []
c['title'] = "example"
c['titleURL'] = "https://example.com/example"
c['buildbotURL'] = "http://localhost:8010/"
c['db'] = { 'db_url' : "sqlite:///state.sqlite" }
