[Unit]
Description=BuildBot worker service
After=network.target

[Service]
User={{ buildbot_user.name }}
Group={{ buildbot_user.group }}
WorkingDirectory={{ buildbot_worker_basedir }}
ExecStart={{ buildbot_worker_bin }} start --nodaemon {{ buildbot_worker_basedir }}

[Install]
WantedBy=multi-user.target
