#
# {{ ansible_managed }}
#
# OpenAFS Buildbot Master Configuration
#

{% macro builder_name(b) -%}
{{ b.scheduler }}-{{ b.branch }}-{{ b.os }}-{{ b.cc }}-{{ b.arch }}{% if b.flavor is defined %}-{{ b.flavor }}{% endif %}
{%- endmacro %}

import datetime

from buildbot.plugins import changes
from buildbot.plugins import reporters
from buildbot.plugins import schedulers
from buildbot.plugins import util
from buildbot.plugins import worker
from buildbot.reporters.generators.worker import WorkerMissingGenerator

import afsbotcfg.factory
import afsbotcfg.gerrit
import afsbotcfg.master
import afsbotcfg.schedulers
import afsbotcfg.worker

import passwords

BuildmasterConfig = {
    'title': '{{ afsbotcfg_project.title }}',
    'titleURL':  '{{ afsbotcfg_project.url }}',
    'buildbotURL': '{{ afsbotcfg_project.url }}',
    'buildbotNetUsageData': None,
    'collapseRequests': False,
    'db': {
        'db_url': '{{ afsbotcfg_project.db_url }}',
    },
    'configurators': [
        util.JanitorConfigurator(
            logHorizon=datetime.timedelta(weeks={{ afsbotcfg_project.janitor.log_horizon }}),
            dayOfWeek={{ afsbotcfg_project.janitor.day_of_week }},
            hour={{ afsbotcfg_project.janitor.hour }}),
    ],
    'www': {
        'port': {{ afsbotcfg_project.www_port }},
        'auth': util.UserPasswordAuth(passwords.admins),
        'authz': util.Authz(
            allowRules=[util.AnyControlEndpointMatcher(role='admins')],
            roleMatchers=[
                util.RolesFromEmails(admins=[
{% for admin, _ in afsbotcfg_admin_passwords %}
                    '{{ admin }}',
{% endfor %}
                ])]),
        'plugins': {
            'waterfall_view': {},
            'console_view': {},
            'grid_view': {},
        },
    },
    'change_source': [
{% if afsbotcfg_gerrit is defined %}
        changes.GerritChangeSource(
            gerritserver='{{ afsbotcfg_gerrit.server }}',
            gerritport={{ afsbotcfg_gerrit.ssh_port }},
            username='{{ afsbotcfg_gerrit.user }}',
            identity_file='{{ afsbotcfg_master_home }}/.ssh/{{ afsbotcfg_gerrit.ident | basename }}',
            gitBaseURL='{{ afsbotcfg_project.gitbaseurl }}',
            debug=False),
{% endif %}
    ],
    'services': [
{% if afsbotcfg_gerrit is defined %}
        reporters.GerritStatusPush(
            server='{{ afsbotcfg_gerrit.server }}',
            username='{{ afsbotcfg_gerrit.user }}',
            port={{ afsbotcfg_gerrit.ssh_port }},
            identity_file='{{ afsbotcfg_master_home }}/.ssh/{{ afsbotcfg_gerrit.ident | basename }}',
            summaryCB=afsbotcfg.gerrit.summaryCB,
            summaryArg=('{{ afsbotcfg_project.summary_title }}', '{{ afsbotcfg_project.url }}'),
            builders=[
{%   for builder in afsbotcfg_builders %}
{%     if builder.scheduler == 'gerrit' %}
                '{{ builder_name(builder) }}',
{%     endif %}
{%   endfor %}
            ],
        ),
{% endif %}
        reporters.MailNotifier(
            fromaddr='{{ afsbotcfg_project.email_from }}',
            generators=[WorkerMissingGenerator(workers='all')],
        ),
    ],
    'protocols': {
        'pb': {
            'port': {{ afsbotcfg_project.pb_port | d(9989) }},
        }
    },
    'workers': [
        afsbotcfg.worker.DummyWorker(),
{% for name in afsbotcfg_workers %}
{%   set properties = lookup('file', 'workers/' + name + '/properties.yml') | from_yaml %}
        worker.Worker('{{ name }}', passwords.worker['{{ name }}'], max_builds={{ properties.max_builds | d(1) }}, notify_on_missing='{{ properties.notify | d("mmeffie@sinenomine.net") }}'),
{% endfor %}
    ],
    'builders': [
{% for builder in afsbotcfg_builders %}
        util.BuilderConfig(
            name='{{ builder_name(builder) }}',
            tags=[
{%   for tag in builder.tags | d([]) %}
                '{{ tag }}',
{%   endfor %}
                '{{ afsbotcfg_project.branches[builder.branch] }}',
{%   if builder.scheduler == 'gerrit' %}
                'verify',
{%   endif %}
{%   if 'deactivated' in builder.tags | d([]) %}
{%   elif builder.factory.name | d('') == 'ELRpmBuildFactory' %}
                'package',
{%   elif builder.factory.name | d('UnixBuildFactory') == 'UnixBuildFactory' %}
{%     set tests = builder.factory.args.tests | d(True) %}
{%     set docs = builder.factory.args.docs | d(False) %}
{%     if '--enable-checking' in builder.factory.args.configure | d('') %}
                'checking',
{%     endif %}
{%     if tests %}
                'tests',
{%     endif %}
{%     if docs %}
                'docs',
{%     endif %}
{%   endif %}
            ],
            workernames=[
{%   if builder.worker is defined %}
                'dummy',
                '{{builder.worker}}',
{%   elif builder.workers is defined %}
{%     for worker in builder.workers %}
                '{{worker}}',
{%     endfor %}
{%   endif %}
            ],
            canStartBuild=afsbotcfg.worker.canStartBuild,
{%     if builder.factory.env is defined %}
            env={
{%       for key, value in builder.factory.env.items() %}
              '{{ key }}': '{{ value }}',
{%       endfor %}
            },
{%     endif %}
            factory=afsbotcfg.factory.{{ builder.factory.name | d('UnixBuildFactory') }}(
                repo='{{ builder.repo | d(afsbotcfg_project.repo) }}',
{%     if builder.scheduler == 'gerrit' %}
                start_delay={{ afsbotcfg_project.start_delay }},
{%     endif %}
                tags=[
{%   for tag in builder.tags | d([]) %}
                    '{{ tag }}',
{%   endfor %}
                ],
{%     if builder.factory.args is defined %}
{%       for key, value in builder.factory.args.items() %}
                {{ key }}='{{ value }}',
{%       endfor %}
{%     endif %}
            ),
        ),
{% endfor %}
    ],
    'schedulers': [
        # Nightly schedulers.
{% for branch in afsbotcfg_project.branches %}
{%   set name = afsbotcfg_project.branches[branch] %}
{%   set hour = afsbotcfg_project.nightly[branch] %}
        schedulers.Nightly(
            name='nightly-{{ branch }}',
            codebases={
                '': {
                    'branch': '{{ name }}',
                    'repository': '{{ afsbotcfg_project.gitbaseurl }}/{{ afsbotcfg_project.name }}',
                },
            },
            builderNames=[
{%   for builder in afsbotcfg_builders %}
{%     if builder.scheduler == 'nightly' and builder.branch == branch %}
{%       if 'deactivated' in (builder.tags | d([])) %}
                # '{{ builder_name(builder) }}',
{%       else %}
                '{{ builder_name(builder) }}',
{%       endif %}
{%     endif %}
{%   endfor %}
            ],
            hour={{ hour }},
            minute=20,
        ),
{% endfor %}

        # Gerrit schedulers.
{% for branch in afsbotcfg_project.branches | d({'dev': 'master'}) %}
        schedulers.SingleBranchScheduler(
            name='gerrit-{{ branch }}',
            change_filter=util.GerritChangeFilter(
                project='{{ afsbotcfg_project.name }}',
                branch='{{ afsbotcfg_project.branches[branch] }}',
                eventtype='patchset-created',
            ),
            treeStableTimer=None,  # Schedule immediately to avoid dropping changes.
            builderNames=[
{%   for builder in afsbotcfg_builders %}
{%     if builder.scheduler == 'gerrit' and builder.branch == branch %}
{%       if 'deactivated' in (builder.tags | d([])) %}
                # '{{ builder_name(builder) }}',
{%       else %}
                '{{ builder_name(builder) }}',
{%       endif %}
{%     endif %}
{%   endfor %}
            ],
        ),
{% endfor %}
{% if afsbotcfg_gerrit is defined %}
        # Gerrit force scheduler.
        afsbotcfg.schedulers.GerritForceScheduler(
            name='force-gerrit',
            gerritserver='{{ afsbotcfg_gerrit.server }}',
            gerritport={{ afsbotcfg_gerrit.ssh_port }},
            username='{{ afsbotcfg_gerrit.user }}',
            identity_file='{{ afsbotcfg_master_home }}/.ssh/{{ afsbotcfg_gerrit.ident | basename }}',
            gerriturl='{{ afsbotcfg_gerrit.url }}/#/c/%%(changenumber)s/%%(patchsetnumber)s',
            branchbuilders={
{%   for branch in afsbotcfg_project.branches | d({'dev': 'master'}) %}
                '{{ afsbotcfg_project.branches[branch] }}': [
{%     for builder in afsbotcfg_builders %}
{%       if builder.scheduler == 'gerrit' and builder.branch == branch %}
{%         if 'deactivated' in (builder.tags | d([])) %}
                     # '{{ builder_name(builder) }}'
{%         else %}
                    '{{ builder_name(builder) }}',
{%         endif %}
{%       endif %}
{%     endfor %}
                ],
{%   endfor %}
            }),
{% endif %}

        # Force schedulers.
{% for builder in afsbotcfg_builders %}
{%   if builder.workers is defined %}
        afsbotcfg.schedulers.Force('{{ builder_name(builder) }}', [
{%     for worker in builder.workers %}
            '{{ worker }}',
{%     endfor %}
        ]),
{%   else %}
        afsbotcfg.schedulers.Force('{{ builder_name(builder) }}', ['{{ builder.worker }}']),
{%   endif %}
{% endfor %}
    ],
}

# Work-around stale twisted.pid files.
afsbotcfg.master.write_pid()
