# Worker and user passwords

admins = [
{% for admin in afsbotcfg_admin_passwords %}
    ('{{ admin[0] }}', '{{ admin[1] }}'),
{% endfor %}
]

worker = {
{% for name in afsbotcfg_workers %}
{%   set password = lookup('unvault', 'workers/' + name + '/password.txt') | trim %}
    '{{ name }}': '{{ password }}',
{% endfor %}
}
