# Worker and user passwords

{% set afsbotcfg_admin_passwords = lookup('unvault', 'admin_passwords.yml') | from_yaml %}
admins = [
{% for email, password in afsbotcfg_admin_passwords %}
    ('{{ email }}', '{{ password }}'),
{% endfor %}
]

admin_emails = [
{% for email, _ in afsbotcfg_admin_passwords %}
    '{{ email }}',
{% endfor %}
]

worker = {
{% for name in afsbotcfg_workers %}
{%   set password = lookup('unvault', 'workers/' + name + '/password.txt') | trim %}
    '{{ name }}': '{{ password }}',
{% endfor %}
}
