OpenAFS Buildbot
================

This is the home of the OpenAFS Buildbot coordinator.

This buildbot is Ansible managed.  Do not make local changes, they will be
lost on the next Ansible play.  For more information see:

   https://wiki.openafs.org/devel/buildbotmasternotes/


Manually starting the buildbot
------------------------------

The `buildbotctl` helper script is provided to start and stop the buildbot.
The buildbot runs as a regular user, so root access not required to start or
stop the buildbot.

To start the buildbot:

    $ buildbotctl start

To cleanly stop the buildbot:

    $ buildbotctl stop

    Note: The buildbotctl stop command will prevent new builds from starting,
          then wait for up to 10 minutes for running builds to be completed.
          Builds not completed within the 10 minutes grace time will be cancelled,
          and retried the next time the buildbot is started.

To check the status of the buildbot:

    $ buildbotctl status

To restart the buildbot:

    $ buildbotctl restart

To reload the buildbot configuration in a running buildbot:

    WARNING: Reloading the configuration has cause the gerrit event
             listener process to fail. Use with caution.

    $ buildbotctl reload


Cron jobs
---------

Two cron jobs are running to keep the buildbot running. These
cron jobs are managed by Ansible.

* On reboot: Start the buildbot on system reboot.
* Hourly: Start the buildbot if not running.

Configuration
-------------

The buildbot master configuration files are located in
"{{ afsbotcfg_master_basedir }}".

    master.cfg    The buildbot master configuration file
    twistd.log    Buildbot log

WARNING: The installed buildbot master.cfg file contains the
         worker and admin passwords.  Do not copy it.
         The passwords are projected by ansible-vault in
         the afsbotcfg project.

Build scripts
-------------

Extra build scripts are used by some builders. The master will download these
build scripts to workers and then run them. The build scripts are located in
"{{ afsbotcfg_master_basedir }}/build-scripts/".

{% if afsbotcfg_gerrit is defined %}
ssh keys
--------

The buildbot master connects to gerrit.openafs.org via ssh to listen for change
events to and to vote on changes after completed builds. The ssh key files are
located in "{{ afsbotcfg_master_home }}/.ssh/".

    {{ afsbotcfg_gerrit.ident | d(gerrit) }}       Gerrit ssh private key
    {{ afsbotcfg_gerrit.ident | d(gerrit) }}.pub   Gerrit ssh public key
{% endif %}
