# {{ ansible_managed }}

[www]
buildbotURL = {{ buildbot_master_url | d('https://buildbot.openafs.org') }}
port = {{ buildbot_www_port | d('8010') }}

[mail]
to =
  mmeffie@sinenomine.net
  mvitale@sinenomine.net
  stephan.wiesand@desy.de
