# Worker and user passwords for testing.

admins = [
    ('admin', 'admin'),
]

admin_emails = [
    'admin',
]

worker = {
{% for name in afsbotcfg_workers %}
    '{{ name }}': 'secret',
{% endfor %}
}
